// Variables

$sidenav-expanded-width: 210px;
$sidenav-colapsed-width: 80px;
$header-height: 64px;
$transition-time: 0.3s;
$mobile-breakpoint: 768px;

// Desktop

:host {
  height: 100vh;
  width: 100%;
}

.header {
  color: var(--mat-sys-on-primary);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: calc(100% - $sidenav-expanded-width);
  height: $header-height;
  transition:
    width $transition-time ease,
    margin-left $transition-time ease;
}

.sideNav {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  height: 100vh;
  width: $sidenav-expanded-width;
  position: fixed;
  top: 0;
  left: 0;
  transition:
    width $transition-time ease,
    margin-left $transition-time ease; // Agregar transición
}

.main {
  background-color: var(--color-background);
  width: calc(100% - $sidenav-expanded-width);
  margin-left: $sidenav-expanded-width;
  margin-top: $header-height;
  transition:
    width $transition-time ease,
    margin-left $transition-time ease;
}

.sideNav--colapsed {
  width: $sidenav-colapsed-width;
}

.main--colapsed {
  width: calc(100% - $sidenav-colapsed-width);
  margin-left: $sidenav-colapsed-width;
}

.header--colapsed {
  width: calc(100% - $sidenav-colapsed-width);
}

// Mobile

@media (max-width: $mobile-breakpoint) {
  .sideNav {
    width: $sidenav-expanded-width;
    left: -($sidenav-expanded-width);
    transition: left $transition-time ease;
    padding-top: 20px;
  }
  .main,
  .header {
    width: 100%;
  }
  .main {
    margin-left: 0;
  }
  .sideNav--open {
    left: 0;
  }
}
