.mat-mdc-icon-button {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mat-mdc-icon-button i {
  font-size: 2rem;
}

/* Icono de material daba problemas para dimensionar */

.cus-toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
