@use '../../../styles/variables' as *;

.sideMenu {
  background-color: var(--color-primary);
  margin-top: 0;
  width: 100%;
  height: 100%;
  padding: 0.3rem 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding-top: 70px;
  overflow-y: auto; // Scroll por si se le da mucho zoom.
  overflow-x: hidden;
}

.sideMenu__li a {
  color: var(--color-on-primary);
  border-radius: 1.5rem;
  padding: 0.85rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 15px;
  cursor: pointer;
  min-height: 50px;
  min-width: 50px;
}
.sideMenu__li--logout {
  margin-top: auto;
  margin-bottom: 25px;
  font-size: 15px;
  svg {
    height: 20px;
    width: 20px;
  }
}

.sideMenu__li :hover {
  color: var(--color-text-hover-on-primary);
  svg {
    fill: var(--color-text-hover-on-primary);
  }
}
.sideMenu__li--active {
  svg {
    fill: var(--color-on-primary);
  }
  a {
    background-color: var(--color-active-on-primary);
    color: var(--color-on-primary);
  }
}
.sideMenu__li--active :hover {
  // Sobrescribe el hover normal para que no se muestre en el li activo.
  svg {
    fill: var(--color-on-primary);
  }

  color: var(--color-on-primary);
}

.sideMenu__label {
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.sideMenu__label--colapsed {
  opacity: 0; // Mejora la transición de los labels pero descentra los iconos, solucionado con translateX
  //display: none; // Mejora el centrado de los iconos pero empeora la transición de los labels
  pointer-events: none;
}

.sideMenu__svg--colapsed {
  transform: translateX(-1px);
}

svg {
  flex-shrink: 0; // Evita que el SVG se comprima
  will-change: transform;
}

@media (max-width: $mobile-breakpoint) {
  .sideMenu__li--logout {
    margin-bottom: 50px;
  }
}
