@use '../../../styles/variables' as *;

// Variables locales

$sidenav-expanded-width: 210px;
$sidenav-colapsed-width: 80px;
$header-height: 50px;
$transition-time: 0.3s;

// Desktop

:host {
  min-height: 100vh;
  width: 100%;
}

.headerLayout {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: calc(100% - $sidenav-expanded-width);
  height: $header-height;
  transition:
    width $transition-time ease,
    margin-left $transition-time ease;
}

.sideNavLayout {
  height: 100vh;
  width: $sidenav-expanded-width;
  position: fixed;
  top: 0;
  left: 0;
  transition:
    width $transition-time ease,
    margin-left $transition-time ease;
}

.mainLayout {
  background-color: var(--color-background); //Para que el fondo del main sea siempre este.
  width: calc(100% - $sidenav-expanded-width);
  height: calc(100vh - $header-height);
  margin-left: $sidenav-expanded-width;
  margin-top: $header-height;
  transition:
    width $transition-time ease,
    margin-left $transition-time ease;
}

.sideNavLayout--colapsed {
  width: $sidenav-colapsed-width;
}

.mainLayout--colapsed {
  width: calc(100% - $sidenav-colapsed-width);
  margin-left: $sidenav-colapsed-width;
}

.headerLayout--colapsed {
  width: calc(100% - $sidenav-colapsed-width);
}

// Mobile

@media (max-width: $mobile-breakpoint) {
  .sideNavLayout {
    width: $sidenav-expanded-width;
    left: -($sidenav-expanded-width);
    transition: left $transition-time ease;
    padding-top: 20px;
  }
  .mainLayout,
  .headerLayout {
    width: 100%;
  }
  .mainLayout {
    margin-left: 0;
  }
  .sideNavLayout--open {
    left: 0;
  }
}
