@use '../../../styles/variables' as *;

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0px;
  padding-top: 10px;
}

.error__title {
  margin: 0;
  font-size: 23px;
  margin-bottom: 15px;
  color: var(--color-on-surface);
}

.error__message {
  margin: 0;
  font-size: 16px;
  text-align: center;
  color: var(--color-on-surface);
  margin-bottom: 30px;
}

.error__image {
  width: min(380px, 100%);
  aspect-ratio: 1 / 1; // Obliga a que la altura sea la misma que el ancho, si la imagen no tiene esa relación se soluciona con object fit.
  object-fit: contain;
  flex-shrink: 1; // No sirve por que el main axis es la vertical en este caso.
  // Estas propiedades "raras" son para que se adapte bien en mobile.
}
.error__button {
  background-color: var(--color-primary) !important;
  color: var(--color-on-primary) !important ;
  font-size: 14px;
}

@media (max-width: $mobile-breakpoint) {
  :host {
    padding-top: 40px;
    row-gap: 10px;
  }
}
