@use '../../../../styles/variables' as *;

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0px;
}

.card {
  margin: 20px $side-margin 20px $side-margin;
  padding: 30px;
  min-height: 500px;
  height: auto;
  width: 900px;
  background-color: var(--color-surface);
  box-shadow: 0 3px 6px 0 var(--color-boxShadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
}

.table {
  width: 100%;
  table-layout: fixed;
}
.table__row--empty {
  visibility: hidden;
}
.table__item--ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table__searchContainer {
  display: flex;
  margin-right: auto;
  padding: 0px;
  column-gap: 10px;
  align-items: center;
}

.form__button {
  background-color: var(--color-primary) !important;
  color: var(--color-on-primary) !important ;
  font-size: 10px !important;
  padding-top: 8px;
}
.form__button:hover {
  opacity: $hover-opacity-button;
}
.form__button--disabled {
  opacity: $disabled-opacity;
}
.form__input {
  padding: $pading-input;
  font-size: $fs-input;
}

.mat-column-id {
  width: 30%;
}
.mat-column-nombre {
  width: 20%;
}
.mat-column-cantlibros {
  width: 20%;
}
.mat-column-editar {
  width: 15%;
  text-align: center;
}
.mat-column-borrar {
  width: 15%;
  text-align: center;
}
