<div class="layout-mobile">
  <div class="layout-header">
    <form class="table__searchContainer" [formGroup]="searchInput" (ngSubmit)="onSubmit()">
      <input
        class="form__input"
        id="data"
        type="text"
        formControlName="data"
        placeholder="Nombre editorial"
        maxlength="15"
      />

      <button
        mat-raised-button
        class="form__button"
        type="submit"
        [disabled]="searchInput.invalid"
        [class.form__button--disabled]="searchInput.invalid"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="white"
        >
          <path [attr.d]="icons.searchPath" />
        </svg>
      </button>
    </form>
  </div>
  <div class="layout-content">
    <ng-container *ngFor="let editorial of dataSource.data">
      <div class="crud-card" *ngIf="editorial.id !== -1 && editorial.id !== 0">
        <span class="card__id">ID #{{ editorial.id }}</span>
        <div class="card__actions">
          <button mat-button class="actions-button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
              class="actions-button__svg"
            >
              <path [attr.d]="icons.editPath" />
            </svg>
          </button>
          <button mat-button class="actions-button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="actions-button__svg"
              viewBox="0 -960 960 960"
            >
              <path [attr.d]="icons.deletePath" />
            </svg>
          </button>
        </div>
        <span class="card__nombre">Nombre: {{ editorial.nombre }}</span>
        <span class="card__cantidad">Cantidad libros: {{ editorial.cantlibros }} libros</span>
      </div>
    </ng-container>
  </div>
  <div class="layout-footer">
    <mat-paginator
      [length]="totalRecords"
      [pageSize]="pageSize"
      [pageSizeOptions]="[6, 10, 25]"
      [pageIndex]="pageIndex"
      aria-label="Seleccionar página"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
