// Archivo que no compila a css, se usa solo para importar. Por eso el "_"

// Variables globales

$mobile-breakpoint: 768px;
$disabled-opacity: 0.75;

// Variables globales para formularios

$fs-button: 18px;
$fs-label: 18px;
$fs-input: 17px;
$pading-input: 5px;
$hover-opacity-button: 0.85;

// Variables globales para cards

$side-margin: 20px; // Se usa para que cuando se achique el ancho de la pantalla, la card no toque los bordes del viewport.
