<ng-container *ngIf="!isMobile; else mobile">
  <div class="layout-desktop">
    <div class="card">
      <form class="table__searchContainer" [formGroup]="searchInput" (ngSubmit)="onSubmit()">
        <input
          class="form__input"
          id="data"
          type="text"
          formControlName="data"
          placeholder="ID Socio"
          maxlength="10"
          size="1"
          onlyNumbers
        />

        <button
          mat-raised-button
          class="form__button"
          type="submit"
          [disabled]="searchInput.invalid"
          [class.form__button--disabled]="searchInput.invalid"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="white"
          >
            <path [attr.d]="icons.searchPath" />
          </svg>
        </button>
        <mat-button-toggle-group
          class="button-group"
          value=""
          [hideSingleSelectionIndicator]="true"
          (change)="onToggleChange($event)"
        >
          <mat-button-toggle value="">Todos</mat-button-toggle>
          <mat-button-toggle value="VIGENTE">Vigentes</mat-button-toggle>
          <mat-button-toggle value="FINALIZADA">Finalizadas</mat-button-toggle>
          <mat-button-toggle value="REVOCADA">Revocadas</mat-button-toggle>
        </mat-button-toggle-group>
      </form>
      <table
        mat-table
        [dataSource]="dataSource"
        (matSortChange)="onSortChange($event)"
        matSort
        class="table"
      >
        <ng-container matColumnDef="idsocio">
          <th mat-header-cell *matHeaderCellDef>ID Socio</th>
          <td mat-cell *matCellDef="let sancion">
            <ng-container *ngIf="!isLoading; else skeleton1">{{ sancion.idSocio }}</ng-container>
            <ng-template #skeleton1>
              <div class="skeleton"></div>
            </ng-template></td
        ></ng-container>
        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef>Libro</th>
          <td mat-cell *matCellDef="let sancion">
            <ng-container *ngIf="!isLoading; else skeleton2">
              <span
                #textRef
                class="table__item--ellipsis"
                [matTooltip]="sancion.titulo"
                matTooltipPosition="above"
                >{{ sancion.titulo }}</span
              >
            </ng-container>
            <ng-template #skeleton2>
              <div class="skeleton"></div>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="fechaSancion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de inicio</th>
          <td mat-cell *matCellDef="let sancion">
            <ng-container *ngIf="!isLoading; else skeleton3">
              <span #textRef>{{ sancion.fechaInicio | date: 'dd/MM/yyyy' }}</span>
            </ng-container>
            <ng-template #skeleton3>
              <div class="skeleton"></div>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="fechaFin">
          <th mat-header-cell *matHeaderCellDef>Fecha de fin</th>
          <td mat-cell *matCellDef="let sancion">
            <ng-container *ngIf="!isLoading; else skeleton4">
              <span #textRef>{{ sancion.fechaFin | date: 'dd/MM/yyyy' }}</span>
            </ng-container>
            <ng-template #skeleton4>
              <div class="skeleton"></div>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let sancion">
            <ng-container *ngIf="!isLoading; else skeleton5">
              <span #textRef>{{ sancion.estado }}</span>
            </ng-container>
            <ng-template #skeleton5>
              <div class="skeleton"></div>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th class="actions-header" mat-header-cell *matHeaderCellDef>Acciones</th>

          <td mat-cell *matCellDef="let sancion">
            <button
              mat-button
              type="button"
              class="actions-button"
              (click)="revocarSancion(sancion.id, sancion.idSocio)"
              [disabled]="isLoading || sancion.estado === 'REVOCADA'"
              [class.actions-button--disabled]="isLoading || sancion.estado === 'REVOCADA'"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 -960 960 960"
                class="actions-button__svg"
              >
                <path [attr.d]="icons.deletePath" />
              </svg>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [class.table__row--empty]="!row.id"
        ></tr>
      </table>
      <mat-paginator
        [length]="totalRecords"
        [pageSize]="pageSize"
        [pageSizeOptions]="[6, 10, 25]"
        [pageIndex]="pageIndex"
        aria-label="Seleccionar página"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</ng-container>

<ng-template #mobile>
  <div class="layout-mobile">
    <div class="layout-header">
      <form class="table__searchContainer" [formGroup]="searchInput" (ngSubmit)="onSubmit()">
        <input
          class="form__input"
          id="data"
          type="text"
          formControlName="data"
          placeholder="ID Socio"
          maxlength="10"
          onlyNumbers
        />
        <button
          mat-raised-button
          class="form__button"
          type="submit"
          [disabled]="searchInput.invalid"
          [class.form__button--disabled]="searchInput.invalid"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="white">
            <path [attr.d]="icons.searchPath" />
          </svg>
        </button>
      </form>
    </div>

    <div class="layout-content">
      <ng-container *ngFor="let sancion of dataSource.data">
        <div class="crud-card" *ngIf="sancion.id !== 0">
          <div class="card__header-strip"></div>

          <div class="card__body">
            <div class="card__top-row">
              <span class="card__id">ID Socio #{{ sancion.idSocio }}</span>
              <div class="card__actions">
                <button
                  mat-button
                  type="button"
                  class="actions-button"
                  (click)="revocarSancion(sancion.id, sancion.idSocio)"
                  [disabled]="isLoading || sancion.estado === 'REVOCADA'"
                  [class.actions-button--disabled]="isLoading || sancion.estado === 'REVOCADA'"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 -960 960 960"
                    class="actions-button__svg"
                  >
                    <path [attr.d]="icons.deletePath" />
                  </svg>
                </button>
              </div>
            </div>

            <span class="card__nombre">Inicio: {{ sancion.fechaInicio | date: 'dd/MM/yyyy' }}</span>
            <span class="card__nombre">Fin: {{ sancion.fechaFin | date: 'dd/MM/yyyy' }}</span>
            <span class="card__autor">Libro: {{ sancion.titulo }}</span>
          </div>

          <div class="card__footer">
            <span class="card__cantidad-label">Estado </span>
            <span class="card__sancions-badge card__sancions-badge--active">
              {{ sancion.estado }}
            </span>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="layout-footer">
      <mat-paginator
        [length]="totalRecords"
        [pageSize]="pageSize"
        [pageSizeOptions]="[6, 10, 25]"
        [pageIndex]="pageIndex"
        aria-label="Seleccionar página"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</ng-template>
